#title {
  background-color: #FF4C68;
  color: #fff;
}

#features {
  position: relative;
  padding: 7% 15%;
  background-color: #fff;
}
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
}

p {
  color: #8f8f8f;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  position: absolute;
  width: 17%;
  transform: rotate(25deg);
  right: 22%;
}

.container {
  margin-top: 200px;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  ;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 992px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
  }
}
#cta {
  color: #fff;
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%
}
.cta-title {
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 5% 15%;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
}
